<p class="text-lg">Flex Container <span class="text-sm text-cyan-800">(Resize it to understand well.)</span> </p>
<div class="relative max-w-3xl">
  <div class="resizable-div border-2 rounded shadow border-cyan-700 relative">
    <div class="gap-3 p-4 h-full" [ngStyle]="cssObject">
      <!-- <ng-container *ngFor="let item of [].constructor(5); let i = index"> -->
      <ng-container *ngFor="let box of boxes; let i = index">
        <flex-item-box
          [@boxAnimation]
          [deletable]="box.deletable"
          [box]="box"
        ></flex-item-box>
        <!-- <div
          class="w-20 text-center shadow-lg p-3 bg-blue-600 text-white font-medium"
        >
          Item {{ i + 1 }}
        </div> -->
      </ng-container>
    </div>
  </div>
  <div class="flex justify-between">
    <!-- Add Button  -->
    <button
      (click)="addBox()"
      [disabled]="boxes.length >= 10"
      class="outline-none border-none bg-cyan-700 text-white border-2 text-center cursor-pointer inline-block px-4 py-2 shadow rounded mt-3"
      title="add box"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
    </button>
    <!-- Animation -->
    <span class="relative flex h-4 w-4 ml-auto -translate-y-4 translate-x-4" title="Resize">
      <span
        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"
      ></span>
      <span class="relative inline-flex rounded-full h-4 w-4 bg-sky-500"></span>
    </span>
  </div>
</div>

<div class="max-w-sm w-full">
  <p class="mt-5">Ganareted Code:</p>
  <div class="shadow rounded p-4 relative bg-gray-800 text-white">
    <button (click)="copyCode(cssObject)" class="absolute top-3 right-3">
      Copy
    </button>
    <div class="absolute top-12 right-3">
      <ng-template #messageAnchor></ng-template>
    </div>

    <pre><code class="whitespace-pre-line leading-relaxed">
    {{cssObject | json | cssCode }}
  </code></pre>
  </div>
</div>

<!-- <div class="absolute top-4 right-4 transition-all bg-blue-600 text-white rounded shadow"></div> -->
